---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='Welcome to Astro.'>
	<main>
		<div class='landing'>
			<h1>Hi. I'm Scott Mason Cherry</h1>
			<p class='sub'>Mr performer.</p>
		</div>
		<ul
			role='list'
			class='link-card-grid'
		>
			<Card
				href=''
				title='About me'
				body='Learn more about me.'
			/>
			<Card
				href=''
				title='My work'
				body='See my work and projects.'
			/>
			<Card
				href=''
				title='The CV'
				body='See my resume.'
			/>
			<Card
				href=''
				title='Connect with me'
				body='lets talk business.'
			/>
		</ul>
	</main>
</Layout>

<style>
	h1 {
		font-size: 70px;
		margin-bottom: 0;
		color: azure;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}

	.sub {
		font-size: 30px;
		margin-top: 0;
		color: azure;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

	}

	.landing {
		background-image: url(../images/headshot-removebg.png);
		background-color: #e8cee4;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
		overflow: auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin: -8px -8px 0 -8px;
		padding: 8px 8px 0 8px;
	}

	@media (max-width: 800px) {
		.landing {
			background-position: center;
			background-size: cover;
		}
	}
</style>
